{% extends 'index.html' %} {% block titulo %} Aula virtual | confirmación de
Eliminación {% endblock titulo %} {% block body %} {% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Advertencia: </strong> {{ error }}
</div>
{% endif %}
<form
  method="post"
  action="{% url 'evaluacion:eliminar_preguntas' pregunta.id_pregunta %}"
>
  {% csrf_token %}
  <p class="text-danger h4"><strong>¿Desea eliminar a esta pregunta del sistema?</strong></p>
  <hr style="background-color: black;" />
  <label> <strong>DATOS DE ESTA PREGUNTA</strong></label><br>
  <br/>Pregunta:<label>{{pregunta.pregunta}}</label>
  <br/>Opciones:<br>
  <table>
      <thead>
        <tr>
          <td>Opcion</td>
          <td>Respuesta respuesta correcta?</td>
        </tr>
      </thead>
      <tbody>
          {% for opc in pregunta.opciones.all %}
          <tr>
            <td>{{opc.opcion}}</td>
            <td>{{opc.respuesta}}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
  <hr style="background-color: black;" />
  <br>
  <button type="submit" class="btn btn-danger">Confirmar</button>
  <a class="btn btn-success text-light" href="{% url 'evaluacion:preguntas' %}"
    >Cancelar</a
  >
</form>

{% endblock body %}
