{% extends 'index.html' %} {% block titulo %} Biblioteca.dev | confirmación de
Eliminación {% endblock titulo %} {% block body %} {% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Advertencia: </strong> {{ error }}
</div>
{% endif %}
<form
  method="post"
  action="{% url 'seguridad:eliminar_personas' personas.id_persona %}"
>
  {% csrf_token %}
  <p class="text-danger h4"><strong>¿Desea eliminar a esta persona del sistema?</strong></p>
  <hr style="background-color: black;" />
  <label>Nombre:</label>
  <br /><label>{{personas.nombres}} {{personas.apellidos}}</label>
  <hr style="background-color: black;" />
  <label>Cedula:</label>
  <br />
  <label>{{personas.cedula}}</label><br />
  <hr style="background-color: black;" />

  <button type="submit" class="btn btn-danger">Confirmar</button>
  <a class="btn btn-success text-light" href="{% url 'seguridad:personas' %}"
    >Cancelar</a
  >
</form>

{% endblock body %}
